{% extends 'layout.html' %}
{% block body %}
<h1>Agregar/Modificar Registro</h1>
{% from 'includes/_formhelpers.html' import render_field %}
<form method="post">

    <div class="form-inline">

         {{ render_field(form.titulo) }}
         {{ render_field(form.nombre) }}
         {{ render_field(form.apellido_1) }}
         {{ render_field(form.apellido_2) }}
    </div>
    <div class="form-group">
        {{ render_field(form.tipo_id) }}
        {{ render_field(form.identificacion) }}
    </div>
    <div class="form-group">
         {{ render_field(form.telf_1) }}
         {{ render_field(form.telf_2) }}
         {{ render_field(form.telf_cel) }}
        {{ render_field(form.email) }}
        </div>

    <div class="form-group">

          {{ render_field(form.estado) }}
         {{ render_field(form.ciudad) }}
          {{ render_field(form.municipio) }}
    </div>
    <div class="form-check">
        {{ render_field(form.voluntario, class_="form-check") }}
        {{ render_field(form.adorador, class_="form-check") }}
        {{ render_field(form.sociocolaborador, class_="form-check") }}
        {{ render_field(form.dama_prodein, class_="form-check") }}
        {{ render_field(form.activo) }}
        {{ render_field(form.ejercitante) }}
</div>


    <div class="form-group">
        {{ render_field(form.direccion, class_="form-control", id="editor") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Guardar Cambios"></p>
</form>
{% endblock %}