{% extends 'layout.html' %}
{% from 'includes/_formhelpers.html' import render_field %}

{% block body %}

<h3>Busqueda</h3>

<form action="/registros_donacion" method="post">
        {{ render_field(form.cod_prodein) }}
         {{ render_field(form.concepto) }}
    {{ render_field(form.importe) }}



  <button type="submit" class="btn btn-default">Buscar</button>

</form>

<h3>Registros</h3>
<ul class="list-group">
    {% for registro in registros %}
    <li class="list-group-item">
        <b>Registro N.  {{registro.id}}</b>
       <b>Cod PRODEIN.  {{registro.cod_prodein}}</b>
   {{registro.importe}}



        {{registro.concepto}}



        <a href="registros_donacion/{{registro.id}}" class="btn btn-default pull-right">Ver/Modificar</a>
         </li>
    {% endfor %}
    </ul>

{% endblock %}