{% extends 'layout.html' %}
{% from 'includes/_formhelpers.html' import render_field %}

{% block body %}
<h2>Donaciones Periodicas</h2>
<h3>Busqueda</h3>

<form action="/registros_donacion_periodica" method="post">
        {{ render_field(form.cod_prodein) }}
        {{ render_field(form.concepto) }}
        {{ render_field(form.forma_pago) }}
         {{ render_field(form.importe) }}

  <button type="submit" class="btn btn-default">Buscar</button>

</form>

<h3>Registros</h3>
<ul class="list-group">
    {% for registro in registros %}
    <li class="list-group-item">
        <b>Registro N.</b>  {{registro.id}}
       <b>Cod PRODEIN </b> {{registro.cod_prodein}}
           <b>Concepto</b>  {{registro.concepto}}
        <b>Periodicidad</b>  {{registro.periodicidad}}
        <b>Forma de Pago</b>  {{registro.forma_pago}}
        <b>Importe.</b>  {{registro.importe}}



        <a href="registros_donacion_periodica/{{registro.id}}" class="btn btn-default pull-right">Ver/Modificar</a>
         </li>
    {% endfor %}
    </ul>

{% endblock %}